*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url('../HTML/Sansation_Regular.ttf');
}

@font-face {
    font-family: SansationLi;
    src: url('../HTML/Sansation_Light.ttf');
}

/* Övre menyn av sidan --------------------------------------------------------------------------------------------------------------- */

.container1{
    height: 80px;
    width: 100%;
    position: relative;
    display: flex;
}

.box{
    background: white;
    width: 100%;
    height: 100%;
}
#logo{
    font-family: SansationLi;
    color: rgba(0, 74, 186, 0.661);
    font-size: 35px;
    margin-left: 6%;
    margin-top: 1%;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
}
#line{
    border-left: 3px solid rgba(0, 74, 186, 0.661); 
    height: 55px; 
    top: 10px;
    left: 18.5%;
    position: absolute;
}
ul.navbar {
    float: right;
    margin-right: 300px;
}
ul.navbar li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
ul.navbar li a{
    color: rgba(0, 74, 186, 0.661);
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none
}
ul.navbar li a:hover{
    color: black;
    transition: 0.4 ease-in-out;
}
.checkbtn{
    font-size: 30px;
    color: rgb(28, 118, 188, 0.9);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;  
}

/* Här börjar conatiner 2, SUPPORT  ----------------------------------------------------------------------------- */

.container2{
    width: 100%;
    height: 680px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.box1{
    margin: 5% 3%;
    width: 94%; 
    height: 550px;
    background-color: rgb(132, 132, 132, 0.43); 
    display: flex; 
    position: absolute;
}

#support{
    font-size: 55px;
    color: white;
    margin: 2% 5%;
    position: absolute;
}
#line1{
    height: 3px; 
    width: 17.5%;  
    margin-top: 7%;  
    margin-left: 2%;
    background: white; 
    position: absolute;  
}
#line2{
    height: 3px; 
    width: 17.5%;  
    margin-top: 22%;  
    margin-left: 2%;
    background: white; 
    position: absolute;  
}

#line3{
    border-left: 3px solid white; 
    height: 90%; 
    position: absolute;
    top: 4%;
    left: 22%;
}

.comicons{
    width: 18%;
    height: 70%;
    margin-top: 7%;
    margin-left: 2%;
    position: absolute;
}

.phone{
    width: 45px;
    height: 45px;
    margin: 15% 15%;
    position: absolute;
    cursor: pointer;
}
.mail{
    width: 45px;
    height: 45px;
    margin: 15% 60%;
    position: absolute;
    cursor: pointer;
}
.chatt{
    width: 45px;
    height: 45px;
    margin: 50% 15%;
    position: absolute;
    cursor: pointer;
}
.facebook{
    width: 45px;
    height: 45px;
    margin: 50% 60%;
    position: absolute;
    cursor: pointer;
}

.thetrucks {
    margin-top: 100%;
    width: 100%;
    height: 17%;
    position: relative;
}
#Truck{
    margin-left: 10%;
    position: absolute;
}
#Tractor{
    position: absolute;
    margin-left: 40%;

}
#Crane{
    margin-left: 70%;
    position: absolute;
}

.infobox{
    width: 68%;
    height: 100%;
    position: absolute;
    margin-left: 25%;
    margin-top: 2%;
}

.information{
    color: white;
    font-size: 25px;
}

ul.information li{
    padding: 14px;
}

/* Här börjar conatiner 3, BILVÄGEN  ----------------------------------------------------------------------------- */

.container3{
    width: 100%;
    height: 180px;
    display: flex;
    position: relative;
}
#cartrack{
    width: 20%;
    height: 150px;
    opacity: 0.6;
    position: absolute;
}
#cartrack2{
    width: 20%;
    margin-left: 20%;
    height: 150px;
    opacity: 0.6;
    position: absolute;
}
#cartrack3{
    width: 20%;
    height: 150px;
    margin-left: 40%;
    opacity: 0.6;
    position: absolute;
}
#cartrack4{
    width: 20%;
    height: 150px;
    margin-left: 60%;
    opacity: 0.6;
    position: absolute;
}
#cartrack5{
    width: 20%;
    height: 150px;
    margin-left: 80%;
    opacity: 0.6;
    position: absolute;
}

/* Här börjar conatiner 4, FRÅGEBOXEN   ----------------------------------------------------------------------------- */

.container4{
    width: 100%;
    height: 650px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.box2{
    margin-left: 3%;
    margin-right: 3%;
    width: 94%; 
    height: 600px;
    background-color: rgb(132, 132, 132, 0.43); 
    display: flex; 
    position: absolute;
}

#to_order{
    font-size: 45px;
    color: white;
    margin: 1% 3%;
    position: absolute;
}

#line4{
    height: 3px; 
    width: 75%;  
    margin-top: 5%;  
    margin-left: 2%;
    background: white; 
    position: absolute; 
}

#to_order_text{
    font-size: 30px;
    color: white;
    margin: 7% 3%;
    position: absolute;
}

#to_order_text2{
    font-size: 30px;
    color: white;
    margin: 9.5% 3%;
    position: absolute;
}

.question{
    color: white;
    font-size: 25px;;
    margin: 14% 4.5%;
}

ul.question li{
    padding: 5px;
}

/* Här börjar conatiner 5, EMAIL FORMULÄR   ----------------------------------------------------------------------------- */

.container5{
    width: 100%;
    height: 970px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.box3{
    margin-left: 3%;
    margin-right: 3%;
    width: 94%; 
    height: 620px;
    background-color: rgb(132, 132, 132, 0.43); 
    position: absolute;
}

.contact_container{
    margin: 2% 3%;
    width: 100%;
    height: 100%;
    align-items: top;
}
.contact_left_title{
    font-size: 60px;
    color: white;
}
.contact_left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact_left_title hr{
    border: none;
    width: 120%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    margin-top: 8%;
    margin-bottom: 5%;
}
.contact_inputs{
    width: 50%;
    height: 50px;
    outline: none;
    font-size: 18px;
}
.contact_left textarea{
    height: 140px;
    padding-top: 15px;
}
.contact_inputs:focus{
    border: 3px solid rgba(0, 74, 186, 0.661);
}
.contact_inputs::placeholder{
    color: rgba(0, 74, 186, 0.661);
}
.contact_left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 30px;
    color: white;
    gap: 10px;
    background: rgba(0, 74, 186, 0.661);
    cursor: pointer;
}

/* Här börjar conatiner 6, NEDRE MENYN   ----------------------------------------------------------------------------- */

.container6{
    width: 100%;
    height: 200px;
    background-color: white;
    display: flex;
    position: relative;
}

#products{
    margin-right: 70%;
    position: absolute;
}
#language{
    position: absolute;
}
#company1{
    margin-left: 70%;
    position: absolute;
}
#line5{
    height: 3px; 
    width: 15%;  
    background: rgba(0, 74, 186, 0.661); 
    position: absolute;  
    margin-top: 2.3%;
    margin-right: 70%;
}
#line6{
    height: 3px; 
    width: 18%;  
    background: rgba(0, 74, 186, 0.661); 
    position: absolute;  
    margin-top: 2.5%;
    margin-left: 70%;
}
#line7{
    height: 3px; 
    width: 17%;  
    background: rgba(0, 74, 186, 0.661); 
    position: absolute;  
    margin-top: 2.5%;
}
#order1{
    font-size: 25px;
    position: absolute;
    margin-top: 3%;
    color: rgba(0, 74, 186, 0.661);
    cursor: pointer;
    margin-right: 70%;
    text-decoration: none;
    z-index: 1;
}
#order1:hover{
    color: black;
    transition: 0.4 ease-in-out;
}
#English{
    font-size: 25px;
    position: absolute;
    margin-top: 3%;
    text-decoration: none;
    color: rgba(0, 74, 186, 0.661);
    cursor: pointer;
    z-index: 1;
}
#English:hover{
    color: black;
    transition: 0.4 ease-in-out;
}
#about{
    font-size: 25px;
    position: absolute;
    margin-top: 3%;
    color: rgba(0, 74, 186, 0.661);
    cursor: pointer;
    margin-left: 70%;
    text-decoration: none;
    z-index: 1;
}
#about:hover{
    color: black;
    transition: 0.4 ease-in-out;
}

.copyright{
    width: 100%;
    height: 160px;
    box-sizing: border-box; 
    display: flex; 
    position: absolute;
    align-items: last baseline; 
    justify-content: center; 
}
#AB{
    font-size: 15px;
    color: rgba(0, 74, 186, 0.661);
}

/* här är kod för mobil responsivitet ----------------------------------------------------------------------------- */

@media (max-width: 414px) {

    body{
        height: 2670px;
    }

    .checkbtn{
        display: block;
    }
    ul.navbar{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(28, 118, 188, 0.9);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
    }
    ul.navbar li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    ul.navbar li a{
        color: white;
        font-size: 20px;

    }
    ul.navbar li a:hover{
        background: none;
        color: black;
        transition: 0.4 ease-in-out;
    }
    #check:checked ~ ul.navbar{
        left: 0;
    }

    #line{
        margin-left: 20%;
    }
    #logo{
        font-size: 25px;
        margin-top: 5%;
    }
    .container1{
        margin-bottom: 5%;
    }

    /* Här börjar conatiner 2, SUPPORT  ----------------------------------------------------------------------------- */

    .container2{
        width: 100%;
        height: 1000px;
    }

    .box1{
        height: 940px;
        justify-content: center; 
    }   
    #support{
        font-size: 50px;
    }
    #line1{
        margin-top: 18%;
        margin-left: 0;
        height: 2px;
        width: 80%;
    }
    #line2{
        margin-top: 80%;
        margin-left: 0;
        height: 2px;
        width: 80%;
    }
    #line3{
        display: none;
    }
    .comicons{
        margin-left: 0;
        margin-top: 25%;
        height: 30%;
        width: 90%;
    }
    .phone{
        width: 40px;
        height: 40px;
        margin: 5% 20%;
    }
    .mail{
        width: 40px;
        height: 40px;
        margin: 5% 65%;
    }
    .chatt{
        width: 40px;
        height: 40px;
        margin: 35% 20%;
    }
    .facebook{
        width: 40px;
        height: 40px;
        margin: 35% 65%;
    }
    .thetrucks {
        display: none;
    }

    .infobox{
        width: 90%;
        margin-top: 85%;
        margin-left: 5%;
        height: 350px;
    }

    .information{
        color: white;
        font-size: 18px;
    }

    ul.information li{
        padding: 6px;
    }

    /* CONTAINER 3 BILVÄG OCH COM ICONS ----------------------------------------------------------------------------- */

    .container3{
        height: 120px;
    }

    #cartrack{
        width: 33.3%;
        height: 100px;
    }
    #cartrack2{
        width: 33.3%;
        height: 100px;
        margin-left: 33.3%
    }
    #cartrack3{
        width: 33.3%;
        height: 100px;
        margin-left: 66.6%
    }
    #cartrack4{
        display: none;
    }
    #cartrack5{
        display: none;
    }

    /* CONTAINER 4 HUR BESTÄLLER JAG?  ----------------------------------------------------------------------------- */

    .container4{
        height: 620px;
    }
    
    .box2{
        height: 600px;
        justify-content: center;
    }
    #to_order{
        font-size: 30px;
        text-align: center;
        margin: 0;
        margin-top: 4%;
    }
    #line4{
        margin-top: 25%;
        margin-left: 0;
        height: 2px;
        width: 90%;
    }
    #to_order_text{
        font-size: 22px;
        color: white;
        margin: 28% 5%;
        position: absolute;
    }
    #to_order_text2{
        font-size: 22px;
        color: white;
        margin: 58% 5%;
        position: absolute;
    }
    .question{
        font-size: 20px;
        width: 90%;
        margin-top: 77%;
        margin-left: 9%;
        height: 350px;
    }

    /* Här börjar conatiner 5, EMAIL FORMULÄR   ----------------------------------------------------------------------------- */

    .container5{
        height: 650px;
    }
    .contact_container{
        width: 95%;
    }
    .contact_left_title{
        font-size: 50px;
    }
    .contact_left{
        width: 90%;
    }
    .contact_left_title hr{
        width: 175%;
    }
    .contact_inputs{
        width: 100%;
    }
    .contact_inputs:focus{
        border: 2px solid rgba(0, 74, 186, 0.661);
    }
    .contact_left button{
        font-size: 20px;
        height: 70px;
    }

    /* CONTAINER 6 NEDRE MENYN ----------------------------------------------------------------------------- */
        
    .container6{
        width: 100%;
        height: 180px;
        background-color: white;
        display: flex;
        position: relative;
        margin-top: 0%;
    }

    #products{
        font-size: 22px;
        margin-top: 5%;
        margin-left: 5%;
    }
    #line6{
        height: 2px;
        width: 22%;
        margin-left: 0;
        margin-right: 68%;  
        margin-top: 13%;
    }
    #order1{
        font-size: 18px;
        margin-top: 15%;
        margin-right: 68%;
    }
    #language{
        font-size: 18px;
        margin-top: 5.5%;
    }
    #line7{
        height: 2px; 
        width: 22%; 
        margin-top: 13%;
    }
    #English{
        font-size: 18px;
        margin-top: 15%;
        z-index: 1;
    }
    #company1{
        margin-left: 70%;
        font-size: 22px;
        margin-top: 5%;
    }
    #line5{
        height: 2px; 
        width: 22%;  
        margin-top: 13%;
        margin-right: 0 ;
        margin-left: 68%;
    }
    #about{
        font-size: 15px;
        margin-top: 15%;
        margin-left: 68%;
        z-index: 1;
    }
    #AB{
        font-size: 12px;
    }
}